<h1>Our contacts</h1>
<p><h2>Please write us to email:<font color= 'blue'> barbershop@mail.ru</font></h2></p>


<p>Also you can write us here:</p>

<form action="/contacts" method="POST" role="form">
<label>Write your name:</label>
<input name= "user_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your name">

<label>Write your email:</label>
<input name= "email" type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

<label>Write you question:</label>
<textarea name= "textmessage" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>

<button type="submit" class="btn btn-primary">Post message</button>

</form>


<p><font color = 'green'><%= @message1 %></font></p>


