<h1>Как с нами связаться</h1>
<p><h2>Пожалуйста, напишите нам:<font color= 'blue'> barbershop@mail.ru</font></h2></p>


<p>Также вы можете написать нам через форму на сайте:</p>

<form action="/contacts" method="POST" role="form">
<label>Напишите ваше имя:</label>
<input name= "user_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ваше имя">

<label>Напишите ваш email:</label>
<input name= "email" type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

<label>Ваш вопрос:</label>
<textarea name= "textmessage" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>

<button type="submit" class="btn btn-primary">Отправить</button>

</form>


<p><font color = 'green'><%= @message1 %></font></p>


